@use "../../styles/variables" as *;
@use "../../styles/global";

.schedule {
    text-align: center;
    padding: 0 30px;

    h1 {
        font-size: 39px;
        margin: 40px 0;
        color: $text-color;
        font-weight: 400;
    }

    .timeline {
        position: relative;
        margin: 0 auto;
        max-width: 600px;
    }

    .event-block {
        display: flex;
        align-items: center;
        position: relative;
        gap: 40px;

        .line {
            margin-left: 52px;
            height: 150px;
            border: 1px solid $text-color;
        }
    }

    .icon-circle {
        min-width: 108px;
        width: 108px;
        height: 108px;
        border-radius: 50%;
        border: 2px solid $text-color;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 64px;
            height: 64px;
            object-fit: contain;
        }
    }

    .event-content {
        text-align: left;

        .time {
            font-family: Georgia, serif;
            font-size: 25px;
            color: $text-color;
        }
        
        .title {
            font-family: Georgia, serif;
            color: $text-color;
            font-size: 25px;
            margin-top: 4px;
        }

        .desc {
            font-family: Georgia, serif;
            opacity: 100%;
            font-size: 14px;
            margin-top: 4px;
            color: $text-color;
        }
    }

    // .heart-separator {
    //     text-align: center;
    //     font-size: 20px;
    //     margin: -20px 0 20px;
    //     color: $main-color;
    // }
}