@use "../../styles/variables" as *;
@use "../../styles/global";

.timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;

    .t-block:first-child {
        border: 2px solid $text-color;
    }

    .t-block {
        padding: 14px;
        border-radius: 50%;
        text-align: center;
        min-width: 80px;

        span {
            font-family: 'OpenSans';
            font-size: 24px;
            font-weight: 600;
            color: $text-color;
        }

        p {
            font-family: Georgia, serif;
            margin-top: 4px;
            font-size: 12px;
            color: $text-color;
        }
    }
}