@use "../../styles/variables" as *;
@use "../../styles/global";

.dresscode {
    padding: 0 30px;
    max-width: 500px;

    h1 {
        font-size: 39px;
        color: $text-color;
        font-weight: 400;
    }

    &-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        p {
            font-family: Georgia, serif;
            color: $text-color;
        }

        .circle-black {
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: black;
        }

    }

    .photo {
        margin-top: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        img {
            width: 105px;
            object-fit: contain;
        }
    }
}