@use "./fonts.scss";
@use "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Delius', cursive;
}

#root {
  min-height: 100vh;
}

body {
  background-image: url("/images/back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}