@font-face {
    font-family: "Delius";
    src: url("src/assets/fonts/delius-regular.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("src/assets/fonts/OpenSans.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
}