@font-face {
    font-family: "Delius";
    src: url("../assets/fonts/delius-regular.woff") format("woff"),
    url("../assets/fonts/delius-regular.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans.woff") format("woff"),
    url("../assets/fonts/OpenSans.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}