@font-face {
    font-family: "Delius";
    src: url("/fonts/delius-regular.woff") format("woff"),
    url("/fonts/delius-regular.woff2") format("woff2"),
    url("/fonts/delius-regular.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("/fonts/OpenSans.woff") format("woff"),
    url("/fonts/OpenSans.woff2") format("woff2"),
    url("/fonts/OpenSans.ttf") format("truetype");
    font-weight: 400; 
    font-style: normal;
    font-display: swap;
}