@use "../../styles/variables" as *;
@use "../../styles/global";

.wishes {
    margin: 30px 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/fon.png");
    background-size: cover; // растягивает, сохраняя пропорции
    background-position: center; // центрирует
    background-repeat: no-repeat;
    padding: 30px;

    &-container {
        padding: 30px;
        background-color: $text-color;

        .words {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;

            p {
                font-family: Georgia, serif;
                max-width: 300px;
                color: $wishes-color;
            }
        }

        h1 {
            margin-bottom: 30px;
            font-size: 39px;
            color: $wishes-color;
            font-weight: 400;
        }

    }
}