@use "../../styles/variables" as *;
@use "../../styles/global";

.wishes {
    margin: 30px 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/fon.png");
    background-size: cover; // растягивает, сохраняя пропорции
    background-position: center; // центрирует
    // background-repeat: ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-container {
        padding: 15px;
        background-color: $text-color;

        .words {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            border: 2px dotted $wishes-color;
            padding: 20px;

            p {
                font-family: Georgia, serif;
                max-width: 300px;
                color: $wishes-color;
            }
        }

        h1 {
            margin-bottom: 10px;
            font-size: 39px;
            color: $wishes-color;
            font-weight: 400;
        }

    }
}

@media (max-width: 760px){
    .wishes {
        
        &-container{
            min-width: 460px;
            max-width: 750px;

            p{
                min-width: 390px;
            }
        }
    }
}