@use "../../styles/variables" as *;
@use "../../styles/fonts.scss";

.header {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 20px;
    color: $text-color;
    font-size: 48px;
    font-weight: 400;
  }

  h2 {
    font-family: Georgia, serif;
    font-size: 29px;
    color: $text-color;
  }

  .header-photo-block {
    display: flex;
    justify-content: center;

    .photo-frame {
      border: 8px solid;
      border-image: $bronze-gradient 1;

      background-image:
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png");

      background-position:
        5% 8%,
        15% 25%,
        80% 18%,
        90% 10%,
        14% 70%,
        4% 85%,
        35% 90%,
        7% 45%,
        95% 65%,
        50% 50%,
        97% 94%,
        87% 38%,
        50% 20%;

      background-size:
        18px,
        22px,
        20px,
        24px,
        16px,
        22px,
        18px,
        34px,
        26px,
        22px,
        18px,
        28px,
        30px;

      background-repeat: no-repeat;

      &-container {
        margin: 5px;
        border: 3px solid;
        border-image: $bronze-gradient 1;
        display: flex;
        flex-direction: column;
        gap: 75px;
        position: relative;
        overflow: hidden;
        padding: 0 20px;

      }

      .child-photos {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 300px;
          object-fit: cover;
        }

      }
    }
  }

  .header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    h1 {
      margin-top: 15px;
      font-size: 39px;
    }

    p {
      font-family: Georgia, serif;
      font-size: 18px;
      margin: 6px 0;
      color: $text-color;
      max-width: 500px;
    }
  }

  .header-calendar {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .calendar-table {
      border-collapse: collapse;

      td {
        border: 1px solid $text-color;
      }

      .calendar-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        color: $text-color;
      }

      .hide {
        opacity: 70%;
      }

      .weekday {
        min-width: 150px;
        border-bottom: 1px solid $text-color;
        font-weight: 500;
      }

      .month {
        font-size: 26px;
      }

      .day {
        font-size: 66px;
        font-weight: bold;
      }

      .day,
      .circle {
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        position: relative;
        font-size: 104px;
      }

      .day.active::after {
        content: "";
        display: block;
        width: 318px;
        height: 318px;
        background-image: url("/images/day.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -90px;
      }

      .active .calendar-cell {
        font-weight: bold;
        color: $main-color;
      }

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $main-color;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
      }
    }
  }

}

@media (max-width: 1444px) {
  .header {

    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 26px;
    }

    .header-intro {
      max-width: 420px;

      h1 {
        font-size: 36px;
      }

      p {
        font-size: 17px;
        max-width: 380px;
      }
    }

    .header-photo-block {

      .photo-frame {

        &-container {
          padding: 0 12px;
          gap: 40px;
        }

        .child-photos img {
          width: 360px;
          max-width: 360px;
        }
      }
    }

    .header-calendar {

      .calendar-table {

        .weekday {
          min-width: 130px;
          font-size: 18px;
        }

        .month {
          font-size: 22px;
        }

        .day {
          font-size: 70px;
        }

        .day.active::after {
          width: 275px;
          height: 275px;
          bottom: -70px;
        }

        .active {
          font-size: 90px;
        }
      }
    }
  }
}


@media (max-width: 480px) {
  .header {

    h1 {
      font-size: 38px;
    }

    h2 {
      font-size: 24px;
    }

    .header-intro {
      max-width: 300px;

      h1 {
        font-size: 34px;
      }

      p {
        font-size: 16px;
        max-width: 260px;
      }
    }

    .header-photo-block {

      .photo-frame {

        &-container {
          padding: 0 10px;
          gap: 30px;
        }

        .child-photos img {
          width: 290px;
          max-width: 290px;
        }
      }
    }

    .header-calendar {

      .calendar-table {

        .weekday {
          min-width: 110px;
          font-size: 16px;
        }

        .month {
          font-size: 20px;
        }

        .day {
          font-size: 60px;
        }

        .day.active::after {
          width: 245px;
          height: 245px;
          bottom: -50px;
        }

        .active {
          font-size: 80px;
        }
      }
    }
  }
}


@media (max-width: 360px) {
  .header {

    h1 {
      font-size: 34px;
    }

    h2 {
      font-size: 22px;
    }

    .header-intro {
      max-width: 280px;

      h1 {
        font-size: 30px;
      }

      p {
        font-size: 15px;
        max-width: 240px;
      }
    }

    .header-photo-block {

      .photo-frame {

        &-container {
          padding: 0 8px;
          gap: 25px;
        }

        .child-photos img {
          width: 230px;
          max-width: 230px;
        }
      }
    }

    .header-calendar {

      .calendar-table {

        .weekday {
          min-width: 95px;
          font-size: 14px;
        }

        .month {
          font-size: 18px;
        }

        .day {
          font-size: 52px;
        }

        .day.active::after {
          width: 220px;
          height: 220px;
          bottom: -35px;
        }

        .active {
          font-size: 68px;
        }
      }
    }
  }
}
