@use "../../styles/variables" as *;
@use "../../styles/fonts.scss";

.header {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 20px;
    color: $text-color;
    font-size: 48px;
    font-weight: 400;
  }

  h2 {
    font-family: Georgia, serif;
    font-size: 29px;
    color: $text-color;
  }

  .header-photo-block {
    display: flex;
    justify-content: center;

    .photo-frame {
      border: 8px solid;
      border-image: $bronze-gradient 1;

      background-image:
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png"),
        url("/images/heartBD.png"),
        url("/images/heartBD.png"),
        url("/images/heartFon.png");

      background-position:
        5% 8%,
        15% 25%,
        80% 18%,
        90% 10%,
        20% 70%,
        10% 85%,
        35% 90%,
        60% 75%,
        85% 65%,
        50% 50%,
        95% 88%,
        85% 38%,
        40% 30%;

      background-size:
        18px,
        22px,
        20px,
        24px,
        16px,
        22px,
        18px,
        20px,
        26px,
        22px,
        18px,
        28px,
        20px;

      background-repeat: no-repeat;

      &-container {
        margin: 5px;
        border: 3px solid;
        border-image: $bronze-gradient 1;
        display: flex;
        flex-direction: column;
        gap: 75px;
        position: relative;
        overflow: hidden;
        padding: 0 20px;

      }

      .child-photos {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 300px;
          object-fit: cover;
        }

      }
    }
  }

  .header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    h1 {
      margin-top: 15px;
      font-size: 39px;
    }

    p {
      font-family: Georgia, serif;
      font-size: 18px;
      margin: 6px 0;
      color: $text-color;
      max-width: 500px;
    }
  }

  .header-calendar {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    .calendar-table {
      border-collapse: collapse;

      td {
        border: 1px solid $text-color;
      }

      .calendar-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        color: $text-color;
      }

      .hide {
        opacity: 70%;
      }

      .weekday {
        min-width: 150px;
        border-bottom: 1px solid $text-color;
        font-weight: 500;
      }

      .month {
        font-size: 26px;
      }

      .day {
        font-size: 66px;
        font-weight: bold;
      }

      .day,
      .circle {
        height: 98px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .active {
        position: relative;
        font-size: 104px;
      }

      .day.active::after {
        content: "";
        display: block;
        width: 318px;
        height: 318px;
        background-image: url("/images/day.png");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -90px;
      }

      .active .calendar-cell {
        font-weight: bold;
        color: $main-color;
      }

      .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $main-color;
        color: white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
      }
    }
  }

}

@media (max-width: 480px) {
  .header {
    .photo-frame {
      &-container {
        h1 {
          font-size: 48px;
        }

        h2 {
          font-size: 29px;
        }
      }
    }

    .header-intro {
      max-width: 290px;

      h1 {
        font-size: 39px;
      }
    }

    img {
      max-width: 255px;
    }

    .header-calendar {

      .calendar-table {

        .weekday {
          padding: 0;
          min-width: 119px;
          max-width: 119px;
        }
      }
    }
  }

}

@media (max-width: 360px) {
  .header {
    .photo-frame {
      &-container {
        h1 {
          font-size: 40px;
        }

        h2 {
          font-size: 26px;
        }
      }
    }

    .header-intro {
      max-width: 310px;

      h1 {
        font-size: 38px;
      }
    }

    img {
      max-width: 235px;
    }

    .header-calendar {

      .calendar-table {

        .weekday {
          min-width: 100px;
          font-size: 16px;
          padding: 0 24px;
        }

        .month {
          font-size: 20px;
        }

        .day {
          font-size: 62px;
          font-weight: bold;
        }

        .day,
        .circle {
          height: 70px;
        }

        .day.active::after {
          width: 250px;
          height: 250px;
          bottom: -70px
        }

        .active {
          font-size: 74px;
        }
      }
    }
  }

}