@use "../../styles/variables" as *;
@use "../../styles/global";

.footer {



    h1 {
        font-size: 39px;
        color: $text-color;
        font-weight: 400;
        text-align: center;
        margin-bottom: 40px;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 300px;
        }
    }
}